@font-family: "AvenirNext-Regular";
#fund-transfer-icon .ant-menu-submenu-title {
    height: 80px;
    padding: 0 10px;
    margin-right: 2px;
}
#cheque-icon .ant-menu-submenu-title {
    height: 80px;
    padding: 0 10px;
    margin-right: 2px;
}
.sidebar-icon-text {
    line-height: "initial" !important;
    white-space: "pre-wrap" !important;
    text-align: "center" !important;
}
  
  .StripeElement {
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  .buy-button{
    height:50px;
    width:120px;
    background-color: #8CB1B7;
    border-radius: 0;
    border: none;
    font-size:18px;
    font-weight: bold;
  }
  .buy-button:hover ,.buy-button:focus{
    background-color: #CBDCDF;
    color:#427179;
  }

  
 
  